<!doctype html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no"> 
	<script type="text/javascript" src="js/vue.min.js"></script>
	<script type="text/javascript" src="js/zepto.min.js"></script>
	<link rel="stylesheet" href="css/font-awesome.min.css">
	<link rel="stylesheet" href="css/uzlee.css">
	<title>UZLEE - Hi!PDA客户端</title>
</head>

<body>
	<div class="logo"></div>
	<div class="links">
		<a class="download btn" v-bind:href="version[0].url"><i class="fa fa-android"></i> v{{version[0].v}}</a>
		<a class="github btn" href="https://github.com/ladjzero/uzlee"><i class="fa fa-github"></i> Github</a>
	</div>
	<div class="logs">
		<div class="log" v-for="v in version">
			<a class="version" v-bind:href="v.url">{{v.v}}</a>
			<ol v-for="l in v.logs"><li>{{l}}</li></ol>
		</div>
	</div>
	<script type="text/javascript">
		$.ajax({
			url: 'js/version.json',
			success: function (version) {
				new Vue({
					el: 'body',
					data: {
						version: version 
					}
				})
			}
		})
	</script>
</body>